@import "custom-variables";


@font-face {
    font-family: TitleFont;
    src: url('../fonts/Hattori_Hanzo.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {

    background: rgb(41, 28, 223);
}

.helloWorld {
    font-family: TitleFont;
    color: $primary-color;
    font-size: 3em;
}

.hello {
    font-family: TitleFont;
    font-size: 2em;
    color: $secondary-color;
    background: url('../images/logo_thr_circle.png');
}