/* Tablet */
@include media-breakpoint-up(sm) 
{
    .main-title{
        padding-top: 30px;
        padding-left: auto;
        padding-right: auto;
        font-size: 3rem;
    }

    .section-title {
        font-family: TitleFont;
        font-size: 2.5rem;
        margin-bottom: 30px;
        padding-top: 80px;
    }

    .technology-title {
        font-size: 1.5rem;
        font-style: italic;
        color: white;
    }

    .nav-item{
        padding-right: 15px;
        padding-left: 15px;
    }

    .medium-title{
        font-size: 1.2rem;
    }

    #technology-table{
        height: 400px;;
    }
}