/* Tablet */
@include media-breakpoint-up(sm) 
{
    .main-title{
        padding-top: 30px;
        padding-left: auto;
        padding-right: auto;
        font-size: 3rem;
    }

    .section-title {
        font-family: TitleFont;
        font-size: 2.5rem;
        margin-bottom: 40px;
        padding-top: 80px;
    }

    .nav-item{
        padding-right: 15px;
        padding-left: 15px;
    }
}